sub,sup
  font-size: 85%

.cover-wrapper .cover-body
  .title
    font-size $fontsize-large * 0.73
    line-height 1.5
    margin-top 1.2rem
    text-align center
  .logo
    max-height 48px
  @media screen and (min-height 1024px)
    .title
      font-size $fontsize-large * 1
    .subtitle
      font-size $fontsize-meta * 1.1
